In [1]:
print("Epale mundo!")

Epale mundo!

# Python fundamentos
* Variables
* Tipos de datos
    - Strings
    - Enteros
    - Flotantes
    - Listas
    - Diccionarios
    - Tuplas
* Operadores
    - Matemáticos
    - Comparación
    - Lógicos
* Estructuras de control
    - Condicionales

In [11]:
 # variables
name = "Ada"
age = 30

In [12]:
name

'Ada'

In [13]:
last_name = "Amarillo"

In [14]:
# operadores matemáticos
number1 = 10
number2 = 5
result_sum = number1 + number2
result_subtraction = number1 - number2
result_multiplication = number1 * number2
result_division = number1 / number2

In [15]:
result_division

2.0

In [16]:
print(result_sum)
print(result_subtraction)
print(result_multiplication)
print(result_division)

15
5
50
2.0

In [18]:
print(f"El resultado de la suma es: {result_sum}")
print(f"El resultado de la resta es: {result_subtraction}")
print(f"El resultado de la multiplicación es: {result_multiplication}")
print(f"El resultado de la división es: {result_division}")

El resultado de la suma es: 15
El resultado de la resta es: 5
El resultado de la multiplicación es: 50
El resultado de la división es: 2.0

In [ ]:
# Operadores de comparación
# Coperacion de igualdad ==
# Comparación de desigualdad !=
# Comparación mayor que >
# Comparación menor que <
# Comparación mayor o igual que >=
# Comparación menor o igual que <=

In [ ]:
# Condicionales simples
# if condicional: 
#   # codigo a ejecutar si la condicion es verdadera

In [ ]:
# condicional simple
if 3=3
    print("La condición es verdadera")

In [2]:
day = "Lunes"
if day == "Lunes":
    print("Hoy es lunes")

Hoy es lunes

In [1]:
day = "lunes"
if day == "Lunes":
    print("Hoy es lunes")

In [ ]:
day = input("Ingrese el día de la semana: ")
if day == "Lunes":
    print("Hoy es lunes")

Hoy es lunes

In [5]:
day = input("Ingrese el día de la semana: ")
if day == "Lunes":
    print("Hoy es lunes")
else:
    print("Hoy no es lunes")

Hoy no es lunes

In [ ]:
# condicionales encadenados para el fin de semana
day = input("Ingrese el día de la semana: ")

if day == "sábado":
    print("Hoy es sábado")
elif day == "domingo":
    print("Hoy es domingo")
else: 
    print("Hoy no es sábado ni domingo")

Hoy es domingo

In [10]:
# Condicionales anidados
day = input("Ingrese el día de la semana: ")
hora= input("Ingrese la hora( formato HH:mm): ")

if day == "sábado":
    if hora == "03:00":
        print("Hoy es sábado a las 03:00")
    else:
        print("Hoy es sábado, pero no es a las 03:00")

Hoy es sábado a las 03:00

In [ ]:
# Condicionales anidados
day = input("Ingrese el día de la semana: ")
hora= input("Ingrese la hora( formato HH:mm): ")

if day == "sábado":
    if hora == "03:00":
        print("Hoy es sábado a las 03:00")
    else:
        print("No tengo clases")
else: 
    print("Hoy no es sábado, no tengo clases, que bien")

In [ ]:
# Condicionales anidados
day = input("Ingrese el día de la semana: ")
hora= input("Ingrese la hora( formato HH:mm): ")

if day == "sábado":
    hora = input("Ingrese la hora( formato HH:mm): ")
    if hora == "03:00":
        print("Hoy es sábado a las 03:00")
    else:
        print("No tengo clases")
else: 
    print("Hoy no es sábado, no tengo clases, que bien")

In [ ]:
# operadores lógicos
# and (y)
# or (o)
# not (no)

In [11]:
# Condicionales anidados
day = input("Ingrese el día de la semana: ")
hora= input("Ingrese la hora( formato HH:mm): ")

if (day == "sábado") and (hora == "03:00"):
    print("Hoy es sábado y tengo clase")

Hoy es sábado y tengo clase

In [12]:
True and False

False

In [13]:
True or False

True

In [15]:
# listas
names = ["Saul", "Juan", "Gandul", "Pepa"]
ages = [30, 25, 40, 35]
pesos = [70.5, 80.2, 65.0, 90.1]

In [26]:
#            01234567
#                -2-1
last_name = "Amarillo"

In [18]:
last_name.lower()

'amarillo'

In [27]:
last_name[2]

'a'

In [28]:
names[0]

'Saul'

In [29]:
names[0:3]

['Saul', 'Juan', 'Gandul']

In [30]:
names[0:4]

['Saul', 'Juan', 'Gandul', 'Pepa']

In [34]:
names = [
    "Saul",
    "maria",
    "Pedro",
    "mariano",
]

In [37]:
names.append("Ana")

In [38]:
names

['Saul', 'maria', 'Pedro', 'mariano', 'Ana']

In [39]:
# tuplas
# Las tuplas son similares a las listas, pero son inmutables

In [40]:
len(names)

5

In [41]:
names.insert(1, "ruperto")

In [42]:
names

['Saul', 'ruperto', 'maria', 'Pedro', 'mariano', 'Ana']

In [43]:
# cambia el nombre de la posición 1 por marta
names[1] = "marta"

In [44]:
names

['Saul', 'marta', 'maria', 'Pedro', 'mariano', 'Ana']

In [45]:
# tupla de nombres 
names_tuple = (
                "Saul", 
                "Maria", 
                "Pedro", 
                "Mariano")

In [46]:
names_tuple[1] = "Marta"  # Esto generará un error porque las tuplas son inmutables

TypeError: 'tuple' object does not support item assignment

In [47]:
# tuplas con numeros y caracteres
tuple_2 = (20, "Saul", 30, "Maria", 40, "Pedro", 50, "Mariano")

In [52]:
# diccionarios 
dict1 = {
    "nombre": "Saul",
    "edad": 30,
    "peso": 70.5,
    "comidas": ["pizza", "hamburguesa", "ensalada"],
    "claves": {
               "correo":12345,
               "netflix": 67890,
    }
}

In [50]:
tuple_2[1
        ]

'Saul'

In [51]:
dict1["nombre"]  # Acceso al valor asociado a la clave "nombre"

'Saul'

In [53]:
dict1["claves"]["correo"]

12345

In [54]:
dict1["comidas"][0]

'pizza'

In [55]:
# clico for 
for variable in names:
    print(variable)

Saul
marta
maria
Pedro
mariano
Ana

In [60]:
# clico for 
for variable in range(len(names)):
    print(variable)

0
1
2
3
4
5

In [62]:
# clico for 
for variable in range(len(names)):
    print([variable])

[0]
[1]
[2]
[3]
[4]
[5]

In [57]:
len(names)

6

In [76]:
# buscar a saul en el conjunto de datos
for name in range(len(names)):
    if names[name] == "Maria":
        print(f"encontre a maria en la posición {name}")

In [ ]:
print()

In [2]:
def saludos():
    print("Hola, ¿cómo estás?")
    print("Espero que estés teniendo un buen día.")
    print("¡Nos vemos pronto!")

In [3]:
saludos()

Hola, ¿cómo estás?
Espero que estés teniendo un buen día.
¡Nos vemos pronto!

In [4]:
# Función que salude a un nombre dado

def saludos2(name):
    print(f"Hola {name}, ¿cómo estás?")

In [5]:
saludos2("Clara")

Hola Clara, ¿cómo estás?

In [ ]:
def saludos3(name):
    return print(f"Hola {name}, ¿cómo estás?")

In [7]:
saludos3("Luis")

'Hola Luis, ¿cómo estás?'

In [8]:
def saludos4(name):
    name = name.upper()
    return print(f"Hola {name}, ¿cómo estás?")

In [9]:
saludos4("ana")

Hola ANA, ¿cómo estás?

In [11]:
def saludos5(name:str) -> str:
    name = name.upper()
    return print(f"Hola {name}, ¿cómo estás?")

In [12]:
saludos5("Pedro")

Hola PEDRO, ¿cómo estás?

In [16]:
def saludos6(name):
    """
    Esta función saluda a la persona a un nombre dado
     name: str: nombre de la persona a saludar
     return: str 
    """
    name = name.upper()
    return print(f"Hola {name}, ¿cómo estás?")

In [17]:
saludos6("Pedro")

Hola PEDRO, ¿cómo estás?

In [18]:
def suma(number1, number2):
    result= number1 + number2
    return result

In [19]:
suma(10, 12)

22

In [20]:
def resta(number1, number2):
    result= number1 - number2
    return result

In [21]:
resta(24, 8)

16

In [22]:
resta(number2=5, number1=20)

15

In [24]:
resta(14, 20)

-6